@import "src/@fuse/scss/fuse";

.header {

    .subtitle {
        margin: 6px 0 0 0;
    }
}

.l-container {
    margin-top: 100px;
    overflow-y: scroll;
}

.container {
    width: 100%;
}

.list-view-container {
    display: flex; 
    justify-content: center; 
    overflow-y: scroll;
}

app-list-view-component {
    min-width: 500px;    
}

.cursor {
    cursor: pointer;
}

.add-text-block {
    display: flex;
    justify-content: flex-end;
}